<!DOCTYPE html>
<html>
<head>
<style type="text/css">

th{

background-color: blue;
color: floralwhite;
font-size: xx-large;
font-family: Arial, Helvetica, sans-serif;
}

td{

 color: black;
 background-color: cornsilk;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: large;

}

button{
    background-color: darkgreen;
    text-align: center;
    border-radius: 12px;
    width: 200px;
    color: cornsilk;
}

button:hover{
  background-color: cornsilk;   
  color: black;
}

</style>
</head>
<body>
<h1>Offerte viaggi</h1>
<table>
<tr>
<th>Nome Utente</div></th>
<th>Data</th>
<th>Partenza</th>
<th>Arrivo</th>
<th>Prezzo</th>
<th>Posti Disponibili</th>
<th>Maggiori Dettagli</th>
<th>Scegli Viaggio</th>
</tr>
<% @travels.each do |travel| %>
<tr>
 <td><%= travel.nome></td>
 <td><%= travel.data></td>
 <td><%= travel.citta_partenza></td>
 <td><%= travel.citta_arrivo></td>
 <td><%= travel.prezzo ></td>
 <td><%= travel.posti_disponibili></td>
 <td><%= travel_path(travel)></td>
 <td><button value="aggiungi" class="button">aggiungi</button></td>
</tr>
</table>
</body>
</html>