%h2 Dettagli Viaggio

%ul#details
  %li
    %strong Nome:
    = @my_travel.Nome
  %li
    %strong Città di partenza:
    = @my_travel.Partenza
  %li
    %strong Città di Arrivo:
    = @my_travel.Destinazione
  %li
    %strong Data:
    = @my_travel.Data
