%h1 Profilo Utente



%ul#user


  %li
    %strong Email:
    = @user.email
  %li
    %strong Password:
    = @user.encrypted_password

%tr
  %td= link_to ("Cambio password"), edit_user_registration_path

