<h1>Contatti</h1>

<h3>Email servizio utenti:</h3>
<ul id="details">
  <li>
    <td>
      <%= link_to "viaggiaincompagnia@gmail.com" %>
    </td>
  </li>
</ul>

<h3>Telefono:</h3>
<ul id="details">
  <li>
    <td>
      <%= "0644256354" %>
    </td>
  </li>
</ul>

<h3>Sede legale:</h3>
<ul id="details">
  <li>
    <td>
      <%= "Roma" %>
    </td>
  </li>
</ul>

<h3>Indirizzo:</h3>
<ul id="details">
  <li>
    <td>
      <%= "Piazza della Croce Rossa,1 - 000161" %>
    </td>
  </li>
</ul>