%h1 Cos'è Viaggia in Compagnia?
Viaggia in Compagnia è un'applicazione che ti permette di condividere un viaggio in auto con altre persone dividendo le spese
%h1 Registrazione 
Per poter usufruire dei servizi dell'applicazione è necessario un'account, la registrazione potrà essere effettuata tramite un profilo Facebook o tramite un form di registrazione
%br dove dovrà essere indicato nome, cognome, email , telefono e password
%h1 Login 
Per poter accedere al proprio account è necessario il login. Il login può essere effettuato tramite Facebook o tramite la email con cui ci si è registrati e la password
%h1 Password dimenticata?
Attraverso l'email indicata dall'utente verrà indicata la procedura di reset della password 
%h1 Cosa posso fare dal mio account?
Posso visualizzare le informazioni relative al mio profilo, vedere i viaggi proposti dagli altri utenti a cui posso unirmi, visualizzare i viaggi a cui mi sono unito o i viaggi che ho proposto,
%br proporre io un viaggio, cercare un viaggio
%h1 Come si propone un viaggio?
Un viaggio si propone attraverso una form in cui va indicato la città di partenza, la città di arrivo, la data, la via di partenza, la via di arrivo, l'orario di partenza,
%br l'orario di arrivo, il prezzo e i posti disponibili
%h1 Come si cerca un viaggio?
Un viaggio si può cercare attraverso tre parametri città di partenza, città di arrivo e data di partenza
%h1 Posso votare il servizio offertomi?
Si, al termine del viaggio sarà possibile dare un voto al servizio ricevuto
